body{
    background-color: FAF7F2;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.time{
    padding: 8px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.time time {
    text-align: center; /* TODO */
    text-transform: uppercase;
    background-color: #D9D8D6;
}