body{
    background-color: FAF7F2;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.time{
    padding: 8px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}